@import '../../styles/variables';

.menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  &--dark {
    background-color: $darkColorHeder;
    color: $lightColorHeader;
  }

  &__close-icon {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $lightColorHeader;
    background-image: url(../../styles/close-dark.svg);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;

    &--dark {
      background-color: $darkColorHeder;
      background-image: url(../../styles/close-light.svg);
    }
  }  
}
