@import '../../styles/variables';

.button {
  width: max-content;    
  height: 36px;
  padding: 0 30px;    
  font-size: 16px;
  font-weight: 700;
  color: $lightColor;
  border-radius: 20px;
  border: none;
  background-color: $darkColor;
  cursor: pointer;
  transition: color $smoothTime, background-color $smoothTime;

  &--dark {
    color: $darkColor;
    background-color: $lightColor;
  }

  &:active {
    background-color: $grayColor;
  }
}
