@import '../../styles/variables';

.test-page {
  flex-grow: 1;
  overflow: hidden;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__message {
    padding-top: 20vh;
    margin-bottom: 40px;
    font-size: 22px;
    text-align: center;  
    
    &--error {      
      padding-top: 40px;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__input {
    width: 250px;
    height: 36px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid $grayColor;
    border-radius: 20px;
    outline: none;
  }
}
