@import '../../styles/variables';

.result {
  &__title {
    padding: 30px 0;
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__input {
    width: 250px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid $grayColor;
    border-radius: 20px;
    outline: none;
  }

  &__text {
    margin-bottom: 20px;
    text-align: justify;
  }

  &__confirm {
    display: flex;   
    justify-content: center;
    height: 100px;
    padding-bottom: 20px;
  }

  &__link {
    min-height: 30px;
    padding-left: 0;
    font-size: 20px;
    text-align: left;
    color: $darkColor;
    border: none;
    background-color: $lightColor;
    cursor: pointer;
    transition: color $smoothTime, background-color $smoothTime;

    &--dark {
      background-color: $darkColor;
      color: $lightColor;
    }

    &--danger {
      color: $blackColor;
      background-color: $redColor; 
    }
  }
}
