@import '../../styles/variables';
@import '../../styles/mixins';

.pages-list {
  display: flex;
  gap: 10px;

  @include headerMenu {
    gap: 20px;
  }

  &__button {
    width: max-content;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
    color: $darkColorHeder;
    border: none;
    background-color: $lightColorHeader;
    cursor: pointer;
    transition: color $smoothTime, background-color $smoothTime;

    @media (max-width: 420px) {
      font-size: 16px;
    }

    @media (max-width: 380px) {
      font-size: 14px;
    }

    &--dark {
      background-color: $darkColorHeder;
      color: $lightColorHeader;
    }

    &--selected {
      color: $grayColor;
      cursor: default;
    }
  }
}
