.results-list {
  &__title {    
    margin-bottom: 30px;
    font-size: 26px;
    text-align: center;
  }

  &__table {
    margin: 0 auto;    
    border-collapse: collapse;
  }

  &__row {
    cursor: pointer;
  }

  &__cell-start {
    text-align: left;
  }
}
