html {
  font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body, h1, h2, h3, h4, ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  -webkit-tap-highlight-color: transparent; /* Для браузеров на основе WebKit (Chrome, Safari) */
  //tap-highlight-color: transparent; /* Для браузеров на основе Blink (новые версии Chrome) */
  -webkit-user-select: none; /* Отключение выделения текста на кнопке */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
